{% extends 'base.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block content%}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <h5 class="text-center">${{ price }} : {{ title }}</h5>
        <div class="card p-2" >
          <img class="card-img-top" style="width: 20rem; " src="{{ img_url }}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{ description }}</p>
            <h3>Chart/History</h3>
          </div>
        </div>
    </div>
</div>

{% endblock %}